
*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: deepskyblue;
    color: white;
}

@media (min-width:350px)
{
    .intro {
        background: url("\leaves_bushes_green_174515_3840x2400.jpg");
        background-size: cover;
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
        height: 100vh;
    }
}    
#profile {
    height: 40%;
    width: auto;
    border-radius: 50%;
    margin: 10px;
    border: 5px solid #7ee911;
    display: inline-block;
}

.intro
{
    text-align: left;
    padding: 18px;
}
.intro h1 {
    font-size: 300%;
}
.intro h2 {
    font-size: 250%;
}
.intro p{
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
#intro_text {
    height: fit-content;
    width: 70%;
    padding: 20px;
    margin: 10px;
}
#text
{
    margin-top: 0px;
    padding-top: 20px;
}

#intro_text {
    height: fit-content;
    width: 60%;
}

.edu
{
    background-color: #3fd218;
    width: auto;
    height: 96px;
    
    font-size: 40px;
    text-align: center;
    vertical-align: center;
    padding-top: 6px;
}
#title h2
{
    padding-top: 8px;
}