
*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: deepskyblue;
    color: white;
}

@media (min-width:150px)
{
    .intro {
        background: url("\leaves_bushes_green_174515_3840x2400.jpg");
        background-size: cover;
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
        height: 100vh;
    }
}    
#profile {
    height: 33%;
    width: auto;
    border-radius: 50%;
    margin: 10px;
    border: 5px solid #7ee911;
    display: inline-block;
}

.intro
{
    text-align: left;
    padding: 18px;
}
.intro h1 {
    font-size: 300%;
}
.intro h2 {
    font-size: 250%;
}
.intro p{
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
#intro_text {
    height: fit-content;
    width: 70%;
    padding: 20px;
    margin: 10px;
}
#text
{
    margin-top: 0px;
    padding-top: 20px;
}

#intro_text {
    height: fit-content;
    width: 60%;
}

.edu
{
    background-color: #3fd218;
    width: auto;
    height: 96px;
    
    font-size: 40px;
    text-align: center;
    vertical-align: center;
    padding-top: 6px;
}
#title h2
{
    padding-top: 8px;
}

@media (max-width:640px)
{
    #intro_text {
        width: 100%;
        height: auto;
        font-size: 13px;
    }
}
@media(max-width:640px)
{
    #profile
    {
        height: 27%;
        margin: -13px;
    }
    .intro h1 {
        font-size: 277%;
    }
    #intro_text {
        margin: 0;
        padding: 0;
        margin-top: -63px;
    }
}
@media(max-width:482px)
{
    #intro_text {
        
        margin-top: -19px;
    }
    
}
@media(max-width:400px)
{
    .intro p{
        margin-top: 0px;
    }
    
}
@media(max-width:540px)
{
#text
    {
        padding-top: 0;
        margin-top: 0;
    }
}
@media (max-width:400px)
{
    #intro_text {
        margin: 0;
        padding: 0;
    }
    #profile
    {
        height: 25%;
        
    }
}
@media (max-width:322px)
{
    #intro_text {
        font-size: 12px;
        margin-top: -35px;
    }
    #profile
    {
        height: 23%;
        
    }
}
@media (max-width:290px)
{
    #intro_text {
        font-size: 11px;
    }
    body {
        font-size: 10px;
    }
    #profile
    {
        height: 15%;
    }

}
@media (max-width:290px)
{
    #intro_text {
        font-size: 10px;
    }
    #profile
    {
        height: 13%;
    }

}